<ion-header>
  <ion-navbar color="novus">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="dataIsLoading">
    <ion-spinner></ion-spinner>
  </div>

  <ion-card *ngIf="!dataIsLoading && !restaurants.restaurants.length">
    <ion-card-content text-center>No Data Found</ion-card-content>
  </ion-card>

  <ion-card class="res-main" *ngFor="let restaurant of restaurants.restaurants"
            (click)="detailsPage(restaurant.restaurant)">

    <img class="res-img" src="{{restaurant.restaurant.thumb}}"/>

    <ion-card-content class="res-content">
      <ion-card-title class="res-title">
        {{restaurant.restaurant.name}}
      </ion-card-title>
      <p class="res-sub-title main">{{restaurant.restaurant.location.locality}} -
        <span class="res-category">{{restaurant.restaurant.cuisines}}</span>
        <span class="res-ratting">{{restaurant.restaurant.user_rating.aggregate_rating}}/5</span>
      </p>
      <p class="res-sub-title">{{restaurant.restaurant.location.address}}</p>
    </ion-card-content>

    <ion-row class="res-btn-group-row">
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="call"></ion-icon>
          <div>Call</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="paper"></ion-icon>
          <div>Menu</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="navigate"></ion-icon>
          <div>Direction</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
