<ion-header>
  <ion-navbar color="novus">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="category">
    <ion-card-header>
      <p class="title">Quick Searches</p>
      <p class="desc">Discover restaurants by type of meal</p>
    </ion-card-header>

    <ion-card-content>
      <div text-center *ngIf="loading.category">
        <ion-spinner></ion-spinner>
      </div>
      <ion-grid *ngIf="categories.length > 0">
        <ion-row>
          <div *ngFor="let category of categories" class="main-cat" col-3
               (click)="gotoRestaturantList(category.categories, 'category')">
            <div class="cat-img">
              <img src="https://b.zmtcdn.com/images/search_tokens/app_icons/category_{{category.categories.id}}.png"/>
            </div>
            <div class="cat-name">
              {{category.categories.name}}
            </div>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!--<ion-card class="category">-->
  <!--<ion-card-header>-->
  <!--<p class="title">Cuisines</p>-->
  <!--</ion-card-header>-->

  <!--<ion-card-content>-->

  <!--<div text-center *ngIf="loading.cuisines">-->
  <!--<ion-spinner></ion-spinner>-->
  <!--</div>-->

  <!--<ion-grid>-->
  <!--<ion-row>-->
  <!--<ion-col col-4 *ngFor="let cuisine of cuisines">-->
  <!--<button ion-button full (click)="gotoRestaturantList(cuisine.cuisine, 'cuisines')">-->
  <!--{{cuisine.cuisine.cuisine_name}}-->
  <!--</button>-->
  <!--</ion-col>-->
  <!--</ion-row>-->
  <!--</ion-grid>-->
  <!--</ion-card-content>-->
  <!--</ion-card>-->

  <ion-card class="category">
    <ion-card-header>
      <p class="title">Collections</p>
      <p class="desc collection" text-wrap>Explore curated lists of top restaurants, cafes, pubs, and bars in and around
        your city, based on trends</p>
    </ion-card-header>

  </ion-card>

  <div text-center *ngIf="loading.collection">
    <ion-spinner></ion-spinner>
  </div>

  <div class="home-main" *ngIf="collections.collections">
    <div class="collections">

      <div class="collections-items">
        <ion-slides autoplay loop="true" slidesPerView="1">
          <ion-slide *ngFor="let collection of collections.collections">
            <ion-card (click)="gotoRestaturantList(collection, 'collection')">
              <div class="card-img">
                <img src="{{collection.collection.image_url}}"/>
              </div>
              <div class="card-main">
                <div class="card-title">{{collection.collection.title}}</div>
                <div class="card-subtitle">{{collection.collection.description}}</div>
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>

      </div>
    </div>
  </div>

</ion-content>
